* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  /*높이와 너비를 100프로로 해야 전체 블럭에 표시됨*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  /*왼쪽 최상단 이라는 뜻*/
  top: 0;
  left: 0;
  /*전면부에 보여줌*/
  z-index: 1000;
}

.head-container {
  /*높이와 너비를 100프로로 해야 전체 블럭에 표시*/
  width: 100%;
  height: 100%;
  /*수평정렬*/
  display: flex;
  /*수평 정렬 방법을 설정함. 양쪽 끝에 정렬*/
  justify-content: space-between;
  /*교차축 각 행을 어떻게 정렬할지 설정. 높이의 가운데에 정렬됨.*/
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

/*이미지가 들어간 영역*/
.main {
  height: 360px;
  background-image: url("/img/jeju1.webp");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  z-index: 1;
}

/*이미지 위에 올라갈 부분*/
.main-container {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #fff;
  z-index: 2;
  margin-top: 60px;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 0.8rem;
}

.message {
  font-weight: normal;
  font-size: 1.2rem;
  color: #000;
  line-height: 2rem;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.8rem;
}

.skill {
  width: 20%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
}

.skill:hover {
  box-shadow: -20px 20px 28px -10px rgba(25, 42, 70, 0.13);
  cursor: pointer;
}

.skill-icon {
  font-size: 2rem;
  margin: 10px;
}

.bed-style {
  color: #2186c4;
}

.seedling-style {
  color: #85A349;
}

.cafe-style {
  color: #F2CB05;
}

.charging-style {
  color: #04D94F;
}

.bicycle-style {
  color: #F27B13;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin: 0.3rem;
}

.section-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.arrow-container {
  display: flex;
}

.arrow-prev {
  font-size: 2rem;
  color: #545e6f;
  margin: 0.3rem;
  cursor: pointer;
}

.arrow-next {
  font-size: 2rem;
  color: #2186c4;
  margin: 0.3rem;
  cursor: pointer;
}

.class-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  overflow: none;
}

.class-card {
  width: 240px;
  min-width: 240px;
  margin: 10px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);

  transition: 0.3s;
  border-radius: 8px;
  touch-action: pan-x;
}

.class-container {
  width: 100%;
}

.class-card:hover {
  box-shadow: -20px 20px 28px -10px rgba(25, 42, 70, 0.13);
  cursor: pointer;
}

.class-maintitle {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem;
  color: #545e6f;
}

.class-subtitle {
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0 1rem 1rem 1rem;
  color: #545e6f;
}

img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}



section {
  width: 100%;
  background-color: #fff;
  /*보통 섹션 안에 다른 요소를 위치시킴.
  이 요소를 섹션에 맞추려면 섹션을 렐러티브로 하고,
  요소를 앱솔루트로 해서 렐러티브에 맞추도록 해야함.*/
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
